@font-face {
  font-family: 'Plex';
  src: url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSans.woff2')
      format('woff2'),
    url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSans.woff')
      format('woff'),
    url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSans.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plex';
  src: url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSansMedium.woff2')
      format('woff2'),
    url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSansMedium.woff')
      format('woff'),
    url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSansMedium.ttf')
      format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plex';
  src: url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSansBold.woff2')
      format('woff2'),
    url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSansBold.woff')
      format('woff'),
    url('../../node_modules/@pubstudio/builder/dist/assets/IBMPlexSansBold.ttf')
      format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../node_modules/@pubstudio/builder/dist/assets/Montserrat-Variable.woff2')
      format('woff2'),
    url('../../node_modules/@pubstudio/builder/dist/assets/Montserrat-Variable.ttf')
      format('truetype');
  font-style: normal;
  font-display: swap;
}
